<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminTheaterMapper">

	<resultMap type="TheaterAPI" id="theaterResultSet">
		<id property="thCode" column="THEATER_CODE"/>
		<result property="thNm" column="THEATER_NM"/>
		<result property="thPhone" column="THEATER_PHONE"/>
		<result property="thPage" column="THEATER_HOMEPAGE"/>
		<result property="thAddr" column="THEATER_ADDR"/>
		<result property="thLat" column="THEATER_LAT"/>
		<result property="thLong" column="THEATER_LONG"/>
		<result property="thFullNm" column="THEATER_FULL_NM"/>
	</resultMap>
	
	<!-- 공연시설장 수 -->
	<select id="getTheaterCount" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM V_THEATER
		<if test="searchValue != null">
			<bind name="sv" value="'%' + searchValue + '%'"/>
			WHERE THEATER_FULL_NM LIKE #{sv}
		</if>
	</select>
	
	<!-- 공연시설장 목록 조회 -->
	<select id="selectList" parameterType="string" resultMap="theaterResultSet">
		SELECT THEATER_CODE, THEATER_FULL_NM
		FROM V_THEATER
		<if test="searchValue != null">
			<bind name="sv" value="'%' + searchValue + '%'"/>
			WHERE THEATER_FULL_NM LIKE #{sv}
		</if>
		ORDER BY THEATER_FULL_NM
	</select>

	
	
</mapper>
