<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminQnaMapper">
	<resultMap type="AdminQna" id="adminQnaResultSet">
		<id property="qnaNo" column="QNA_NO"/>
		<result property="qnaContent" column="QNA_CONTENT"/>
		<result property="qnaCreateDate" column="QNA_CREATE_DT"/>
		<result property="qnaStatus" column="QNA_STATUS"/>
		<result property="qnaWriter" column="QNA_WRITER"/>
		<result property="qnaAnswer" column="QNA_ANSWER"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberName" column="MEMBER_NM"/>
		<result property="memberNickname" column="MEMBER_NICKNM"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
	</resultMap>
	
	<resultMap type="AdminQnaAnswer" id="adminQnaAnswerResultSet">
		<id property="qnaNo" column="QNA_NO"/>
		<result property="qnaAnswer" column="QNA_ANSWER"/>
	</resultMap>


	<!-- QNA 게시글 수 조회(+검색) -->
	<select id="getListCount" parameterType="map" resultType="_int">
		SELECT COUNT(*) FROM V_QNAADMIN
		<where>
			<if test="searchValue != null">
			<bind name="sv" value="'%' + _parameter.searchValue + '%'"/>
				<choose>
					<when test="searchKey == 'title'">
						AND MEMBER_ID LIKE #{sv}
					</when>
					<when test="searchKey == 'content'">
						AND QNA_CONTENT LIKE #{sv}
					</when>
					<otherwise>
						AND (MEMBER_ID LIKE #{sv}
						OR QNA_CONTENT LIKE #{sv})
					</otherwise>
				</choose>
			</if>
		</where>
		ORDER BY QNA_NO DESC
	</select>
	
	<!-- QNA 게시글 목록 조회 -->
	<select id="selectList" parameterType="map" resultMap="adminQnaResultSet">
		SELECT *
		FROM V_QNAADMIN
		<where>
			<if test="searchValue != null">
			<bind name="sv" value="'%' + _parameter.searchValue + '%'"/>
				<choose>
					<when test="searchKey == 'title'">
						AND MEMBER_ID LIKE #{sv}
					</when>
					<when test="searchKey == 'content'">
						AND QNA_CONTENT LIKE #{sv}
					</when>
					<otherwise>
						AND (MEMBER_ID LIKE #{sv}
						OR QNA_CONTENT LIKE #{sv})
					</otherwise>
				</choose>
			</if>
		</where>
		ORDER BY QNA_NO DESC
	</select>
	
	<!-- QNA 상세 조회 -->
	<select id="selectQna" parameterType="_int" resultMap="adminQnaResultSet">
		SELECT *
		FROM V_QNAADMIN
		WHERE QNA_NO=#{qnaNo}
	</select>
	
	
	<!-- 문의글 작성자 정보 -->
	<!-- <select id="selectInfo" parameterType="_int" resultMap="adminQnaResultSet">
		SELECT MEMBER_EMAIL
		FROM V_QNAADMIN
		WHERE QNA_NO=#{no}
	</select> -->	
	
	<!-- QNA 답변 등록 -->
	<insert id="insertAnswer" parameterType="AdminQnaAnswer">
		INSERT INTO QNA_ANSWER VALUES(
			#{qnaNo}, #{qnaAnswer})
	</insert>
	
	<!-- QNA 답변 조회 -->
	<select id="selectAnswer" parameterType="_int" resultType="string">
		SELECT QNA_ANSWER
		FROM V_QNAADMIN
		WHERE QNA_NO=#{no}
	</select>
	
	<!-- QNA 상태 변경 -->
	<update id="updateQnaStatus" parameterType="_int">
		UPDATE QNA
		SET QNA_STATUS = 'Y'
		WHERE QNA_NO=#{no}
	</update>
	
	<!-- QNA 삭제 -->
	<update id="deleteQna" parameterType="_int">
		UPDATE QNA
		SET QNA_STATUS='D'
		WHERE QNA_NO = #{no}
	</update>
	
	
</mapper>
