<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alarmMapper">

	<resultMap type="Alarm" id="alarmResultSet">
		<id property="alarmNo" column="ALARM_NO"/>
		<result property="alarmContent" column="ALARM_CONTENT"/>
		<result property="alarmUrl" column="ALARM_URL"/>
		<result property="alarmDate" column="ALARM_DT"/>
		<result property="alarmType" column="ALARM_TYPE"/>
		<result property="alarmStatus" column="ALARM_STATUS"/>
		<result property="alarmMemberNo" column="ALARM_MEBMER_NO"/>
	</resultMap>
	
	<insert id="insertAlarm" parameterType="Alarm">
		INSERT INTO ALARM VALUES(
		SEQ_ALNO.NEXTVAL, #{alarmContent}, #{alarmUrl}, DEFAULT,
		#{alarmType}, DEFAULT, #{alarmMemberNo})
	</insert>
</mapper>
