<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="loginMapper">
	<resultMap type="LoginMember" id="LoginMemberResultSet">
	 	<id property="memberNo" column="MEMBER_NO"/>
	 	<result property="memberId" column="MEMBER_ID"/>
	 	<result property="memberPwd" column="MEMBER_PWD"/>
	 	<result property="memberName" column="MEMBER_NM"/>
	 	<result property="memberNickname" column="MEMBER_NICKNM"/>
	 	<result property="memberEmail" column="MEMBER_EMAIL"/>
	 	<result property="memberEmailCheck" column="MEMBER_EMAIL_CHECK"/>
	 	<result property="memberPhone" column="MEMBER_PHONE"/>
	 	<result property="memberEnrollDate" column="MEMBER_ENROLL_DT"/>
	 	<result property="memberReportCount" column="MEMBER_REPORT_CNT"/>
	 	<result property="memberStatus" column="MEMBER_STATUS"/>
	 	<result property="memberGrade" column="MEMBER_GRADE"/>
	 	<result property="profilePath" column="PROFILE_PATH"/>
	</resultMap>
	
	
</mapper>
