<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mainMapper">
	<resultMap type="Show" id="showResultSet">
		<id property="showCode" column="SHOW_CODE"/>
		<result property="showTitle" column="SHOW_TITLE"/>
		<result property="startDt" column="SHOW_START_DT"/>
		<result property="endDt" column="SHOW_END_DT"/>
		<result property="posterPath" column="SHOW_POSTER_PATH"/>
		<result property="showStatus" column="SHOW_STATUS"/>
		<result property="showImg1" column="SHOW_INTRO_IMG1"/>
		<result property="showImg2" column="SHOW_INTRO_IMG2"/>
		<result property="showImg3" column="SHOW_INTRO_IMG3"/>
		<result property="showImg4" column="SHOW_INTRO_IMG4"/>
		<result property="theaterFullNm" column="THEATER_FULL_NM"/>
		<result property="thCode" column="THEATER_CODE"/>
	</resultMap>
	<resultMap type="SeatReview" id="seatReviewResultSet">
      <id property="reviewNo" column="REVIEW_NO"/>
      <result property="reviewCreateDt" column="REVIEW_CREATE_DT"/>
      <result property="reviewViewDt" column="REVIEW_VIEW_DT"/>   
      <result property="reviewSight" column="REVIEW_SIGHT"/>   
      <result property="reviewComfort" column="REVIEW_COMFORT"/>   
      <result property="reviewLegroom" column="REVIEW_LEGROOM"/>   
      <result property="reviewRating" column="REVIEW_RATING"/>   
      <result property="reviewComment" column="REVIEW_COMMENT"/>   
      <result property="reviewImgPath" column="REVIEW_IMG_PATH"/>   
      <result property="reviewWriter" column="REVIEW_WRITER"/>   
      <result property="memberNickname" column="MEMBER_NICKNM"/>   
      <result property="memberId" column="MEMBER_ID"/>
      <result property="profilePath" column="PROFILE_PATH"/>   
      <result property="seatCode" column="SEAT_CODE"/>   
      <result property="seatValue" column="SEAT_VALUE"/>   
      <result property="seatFloor" column="SEAT_FLOOR"/>   
      <result property="seatArea" column="SEAT_AREA"/>   
      <result property="seatRow" column="SEAT_ROW"/>   
      <result property="seatCol" column="SEAT_COL"/>   
      <result property="thCode" column="THEATER_CODE"/>   
      <result property="thName" column="THEATER_NM"/>   
      <result property="showCode" column="SHOW_CODE"/>   
      <result property="showTitle" column="SHOW_TITLE"/>   
      <result property="likeCount" column="LIKE_COUNT"/>   
      <result property="likeStatus" column="LIKE_STATUS"/>   
   </resultMap>
	
	<select id="selectShowing" resultMap="showResultSet">
		SELECT * FROM SHOW 
		WHERE SHOW_STATUS = '공연중'
	</select>
	
	<select id="comingShowing" resultMap="showResultSet">
		SELECT * FROM SHOW 
		WHERE SHOW_STATUS = '공연예정'
	</select>
	
	<select id="selectNlist" parameterType="_int" resultMap="seatReviewResultSet">
		SELECT *
		FROM( SELECT (SELECT COUNT(*) FROM REVIEW_LIKE RL WHERE V_REVIEW.REVIEW_NO = RL.REVIEW_NO AND RL.MEMBER_NO = #{memberNo}) AS LIKE_STATUS, V_REVIEW.*
		FROM V_REVIEW
		ORDER BY REVIEW_NO DESC)
		<![CDATA[WHERE ROWNUM <= 3]]>
	</select>
</mapper>
