<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<!-- 
		1) mybatis-config.xml에 typeAlias, mapper 등록
		2) resultMap 만들기
		3) 쿼리문 작성
	 -->
	 <resultMap type="Member" id="memberResultSet">
	 	<!-- DB의 Primary Key -->
	 	<id property="memberNo" column="MEMBER_NO"/>
	 	
	 	<!-- DB의 일반 컬럼들 -->
	 	<result property="memberId" column="MEMBER_ID"/>
	 	<result property="memberPwd" column="MEMBER_PWD"/>
	 	<result property="memberName" column="MEMBER_NM"/>
	 	<result property="memberNickname" column="MEMBER_NICKNM"/>
	 	<result property="memberEmail" column="MEMBER_EMAIL"/>
	 	<result property="memberEmailCheck" column="MEMBER_EMAIL_CHECK"/>
	 	<result property="memberPhone" column="MEMBER_PHONE"/>
	 	<result property="memberEnrollDate" column="MEMBER_ENROLL_DT"/>
	 	<result property="memberReportCount" column="MEMBER_REPORT_CNT"/>
	 	<result property="memberStatus" column="MEMBER_STATUS"/>
	 	<result property="memberGrade" column="MEMBER_GRADE"/>
	 </resultMap>
	 <resultMap type="Attachment" id="attachmentResultSet">
	 	<id property="profileNo" column="PROFILE_NO"/>
	 	<result property="profilePath" column="PROFILE_PATH"/>
	 	<result property="uploadDate" column="UPLOAD_DT"/>
	 	<result property="profileStatus" column="PROFILE_STATUS"/>
	 	<result property="memberNo" column="MEMBER_NO"/>
	 </resultMap>
	 <!-- 로그인 -->
	 <select id="loginMember" parameterType="Member" resultMap="memberResultSet">
	 	SELECT *
	 	FROM MEMBER
	 	WHERE MEMBER_STATUS = 'Y'
	 	AND MEMBER_EMAIL_CHECK = 'Y'
	 	AND MEMBER_ID = #{memberId}
	 </select>
	 
	 <!-- 다음 회원 번호 -->
	 <select id="selectNextMemberNo" resultType="_int">
	 	SELECT SEQ_MNO.NEXTVAL
	 	FROM DUAL
	 </select>
	 
	 <!-- 회원가입 -->
	 <select id="signUp" parameterType="Member">
	 	INSERT INTO MEMBER VALUES
	 	(#{memberNo}, #{memberId}, #{memberPwd}, #{memberName},
	 	#{memberNickname}, #{memberEmail}, DEFAULT, #{memberPhone}, 
	 	DEFAULT, DEFAULT, DEFAULT, DEFAULT)
	 </select>
	 
	 <!-- 프로필사진 삽입 -->
	 <insert id="insertProfileImage" parameterType="Attachment">
	 	INSERT INTO PROFILE VALUES
	 	(SEQ_P_INO.NEXTVAL, #{profilePath}, DEFAULT, DEFAULT, #{memberNo})
	 </insert>
	 
	 <!-- 아이디 중복 체크 -->
	 <select id="idDupCheck" parameterType="string" resultType="_int">
	 	SELECT COUNT(*)
	 	FROM MEMBER
	 	WHERE MEMBER_ID = #{memberId}
	 </select>
	 
	 <!-- 닉네임 중복 체크 -->
	 <select id="nicknameDupCheck" parameterType="string" resultType="_int">
	 	SELECT COUNT(*)
	 	FROM MEMBER
	 	WHERE MEMBER_NICKNM = #{memberNickname}
	 </select>
	 
	 <!-- 메일 인증 -->
	 <update id="mailAuth" parameterType="Member">
	 	UPDATE MEMBER
	 	SET MEMBER_EMAIL_CHECK = 'Y',
	 	MEMBER_STATUS = 'Y'
	 	WHERE MEMBER_NO = #{memberNo}
	 </update>
</mapper>
