<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reviewMapper">

	<resultMap type="Theater" id="theaterResultSet">
		<id property="thCode" column="THEATER_CODE"/>
		<result property="thNm" column="THEATER_NM"/>
		<result property="thPhone" column="THEATER_PHONE"/>
		<result property="thPage" column="THEATER_HOMEPAGE"/>
		<result property="thAddr" column="THEAER_ADDR"/>
		<result property="thLat" column="THEATER_LAT"/>
		<result property="thLong" column="THEATER_LONG"/>
		<result property="thLogoPath" column="THEATER_LOGO_PATH"/>
	</resultMap>

	<resultMap type="Show" id="showResultSet">
		<id property="showCode" column="SHOW_CODE"/>
		<result property="showTitle" column="SHOW_TITLE"/>
		<result property="startDt" column="SHOW_START_DT"/>
		<result property="endDt" column="SHOW_END_DT"/>
		<result property="posterPath" column="SHOW_POSTER_PATH"/>
		<result property="showStatus" column="SHOW_STATUS"/>
		<result property="showImg1" column="SHOW_INTRO_IMG1"/>
		<result property="showImg2" column="SHOW_INTRO_IMG2"/>
		<result property="showImg3" column="SHOW_INTRO_IMG3"/>
		<result property="showImg4" column="SHOW_INTRO_IMG4"/>
		<result property="theaterFullNm" column="THEATER_FULL_NM"/>
		<result property="thCode" column="THEATER_CODE"/>
	</resultMap>
	
	<resultMap type="Seat" id="seatResultSet">
		<id property="seatCode" column="SEAT_CODE"/>
		<result property="seatValue" column="SEAT_VALUE"/>
		<result property="seatFloor" column="SEAT_FLOOR"/>
		<result property="seatArea" column="SEAT_AREA"/>
		<result property="seatRow" column="SEAT_ROW"/>
		<result property="seatCol" column="SEAT_COL"/>
		<result property="theaterCode" column="THEATER_CODE"/>
	</resultMap>
	
	
	<!-- 공연시설장 수 -->
	<select id="getTheaterCount" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM THEATER
		<if test="searchValue != null">
			<bind name="sv" value="'%' + searchValue + '%'"/>
			WHERE THEATER_NM LIKE #{sv}
		</if>
	</select>
	
	<!-- 공연시설장 목록 조회 -->
	<select id="selectTheaterList" parameterType="string" resultMap="theaterResultSet">
		SELECT THEATER_CODE, THEATER_NM, THEATER_LOGO_PATH
		FROM THEATER
		LEFT JOIN THEATER_LOGO USING(THEATER_CODE)
		<if test="searchValue != null">
			<bind name="sv" value="'%' + searchValue + '%'"/>
			WHERE THEATER_NM LIKE #{sv}
		</if>
		ORDER BY THEATER_NM
	</select>
	
	<!-- 공연 수 -->
	<select id="getShowCount" parameterType="map" resultType="_int">
		SELECT COUNT(*)
		FROM SHOW
		WHERE SHOW_STATUS = #{showStatus}
		<if test="searchShow != null">
			<bind name="sv" value="'%' + searchShow + '%'"/>
			AND SHOW_TITLE LIKE #{sv}
		</if>
	</select>
	
	<!-- 공연 목록 조회 -->
	<select id="selectShowList" parameterType="map" resultMap="showResultSet">
		SELECT SHOW_CODE, SHOW_TITLE, SHOW_POSTER_PATH
		FROM SHOW
		WHERE SHOW_STATUS = #{showStatus}
		<if test="searchShow != null">
			<bind name="sv" value="'%' + searchShow + '%'"/>
			AND SHOW_TITLE LIKE #{sv}
		</if>
	</select>
	
	<!-- 공연 상세 조회 -->
	<select id="selectShowDetail" parameterType="string" resultMap="showResultSet">
		SELECT *
		FROM SHOW
		WHERE SHOW_CODE = #{selectShowCode}
	</select>
	
	<!-- 공연장 목록 조회 -->
	<select id="selectTList" resultMap="theaterResultSet">
		SELECT THEATER_CODE, THEATER_NM, THEATER_LAT, THEATER_LONG
		FROM THEATER
	</select>
	
	<!-- 공연장 코드 조회 -->
	<select id="selectTheaterCode" parameterType="string" resultType="string">
		SELECT THEATER_CODE
		FROM THEATER
		WHERE THEATER_NM = #{thName}
	</select>
	
	<select id="selectSList" parameterType="Show" resultMap="showResultSet">
		SELECT SHOW_CODE, SHOW_TITLE, SHOW_POSTER_PATH
		FROM SHOW
		WHERE THEATER_CODE = #{thCode}
		AND #{endDt} BETWEEN SHOW_START_DT AND SHOW_END_DT
	</select>
	
	<select id="selectFList" parameterType="string" resultMap="seatResultSet">
		SELECT DISTINCT SEAT_FLOOR
		FROM SEAT
		WHERE THEATER_CODE = #{thCode}
	</select>
</mapper>
