<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<!-- 1. 마이바티스 설정과 관련된 기본 세팅 선언 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- 2. 별칭 작성 부분 -->
	<typeAliases>
		<typeAlias type="com.bg.plzSeatdown.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.bg.plzSeatdown.member.model.vo.Attachment" alias="Attachment"/>
		<typeAlias type="com.bg.plzSeatdown.community.model.vo.Community" alias="Community"/>
		<typeAlias type="com.bg.plzSeatdown.admin.model.vo.AdminCommunity" alias="AdminCommunity"/>
		<typeAlias type="com.bg.plzSeatdown.admin.model.vo.AdminReview" alias="AdminReview"/>
		<typeAlias type="com.bg.plzSeatdown.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.bg.plzSeatdown.qna.model.vo.QnA" alias="QnA"/>
		<typeAlias type="com.bg.plzSeatdown.mypage.model.vo.Profile" alias="Profile"/>
      	<typeAlias type="com.bg.plzSeatdown.mypage.model.vo.QnAEH" alias="QnAEH"/>
      	<typeAlias type="com.bg.plzSeatdown.api.model.vo.Theater" alias="Theater"/>
      	<!-- 공연일이 String -->
		<typeAlias type="com.bg.plzSeatdown.api.model.vo.Show" alias="ShowAPI"/>
		<!-- 공연일이 Date -->
		<typeAlias type="com.bg.plzSeatdown.review.model.vo.Show" alias="Show"/>
	</typeAliases>
	
	<!-- 3. mapper 파일 등록 부분  -->
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/admin-community-mapper.xml"/>
		<mapper resource="/mappers/admin-review-mapper.xml"/>
		<mapper resource="/mappers/yhb-community-mapper.xml"/>
		<mapper resource="/mappers/yhb-notice-mapper.xml"/>
		<mapper resource="/mappers/yhb-qna-mapper.xml"/>
		<mapper resource="/mappers/mypage-mapper.xml"/>
		<mapper resource="/mappers/api-mapper.xml"/>
		<mapper resource="/mappers/admin-theater-mapper.xml"/>
		<mapper resource="/mappers/admin-show-mapper.xml"/>
		<mapper resource="/mappers/review-mapper.xml"/>
	</mappers>

</configuration>
