.signUpStyle{
	margin: 2em 0em;
}
/* 회원가입 - title */
#signUpTitle{
	text-align: right;
}
@media screen and (max-width: 767px) {
	#signUpTitle{
		text-align: left;
	}
}


#signUpBtn{
    height: 40px;
    font-size: 15px;
    width: 100%;
    background-color: rgba(163, 99, 189, 0.8);
    border: 0px;
    float:left;
}

#signUpBtn:hover{
    background-color:rgb(163, 99, 189);
    color : white;
    border : 0px;
}

#deleteImg{
	border: 0px;
	background-color: #888;
	border-radius: 10px;
}
