@font-face { 
    font-family: 'Handon3gyeopsal300g'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal300g.woff') 
    format('woff'); 
    font-weight: normal;
    font-style: normal; 
}


body{
    font-family: 'Handon3gyeopsal300g', '삼겹살체 300g';
      overflow-x: hidden;
    overflow-y: auto;
}  


#nav ul>li{
    margin-right: 150px;
    font-size: 15px;
    font-weight: bold;
}

#nav ul>li:last-child{
    margin-right: 0px;
}

.wrapper{
    height: 630px;
    background: #fff;
    margin: 0 0 2em 0;
    padding: 6em 0 6em 0;
}

/* 사이드 바*/
#sidebar h4{
    font-weight: bold;
    margin-bottom:25px;
    text-align: right;
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(198, 180, 205);
}



#sidebar h4 a{
    color:rgb(163, 99, 189);
    display: block;
    top : 100px;
    left : 140px;
}

#sidebar h4 a:hover{
    color:rgb(163, 99, 189);
    text-decoration: none;
    display: block;
}
   

#sidebar ul{
    padding : 0px;
    text-align: right;
    border-bottom: 1px solid rgb(198, 180, 205);

}


#sidebar ul li{
    list-style: none;
    margin-bottom: 13px;
    display: block;
    height: 30px;
}

#sidebar ul li>a{
    color:black;
    display: inline-block;
    width: 100%;
    height: 100%;
}

#sidebar ul li>a:hover{
    color:rgb(198, 180, 205);
    text-decoration: none;
    display: block;
    font-weight: bold;
    transition: none;
}





/* 내용 */


.titleQ{
    font-weight: bold;
    padding : 5px;
    margin:0px;
    margin-bottom: 50px;
    color:rgb(145, 126, 198);
    border-bottom : 1px solid rgb(163, 99, 189);
    border-right: 1px solid rgb(163, 99, 189);
}


.titleQ img{
    width: 20px;
    height: 20px;
    margin-left: 4px;
    margin-bottom: 5px;
}


.titleA{
    font-weight: bold;
    padding : 5px;
    margin:0px;
    margin-bottom: 50px;
    color:rgb(145, 126, 198);
    border-bottom : 1px solid rgb(163, 99, 189);
    border-right: 1px solid rgb(163, 99, 189);
}

.titleA img{
    width: 20px;
    height: 20px;
    margin-left: 4px;
    margin-bottom: 5px;
}


hr{
    overflow: hidden;
    top : 0px;
    margin-top : 0px;
    margin-bottom: 40px;
    border-top : 1px solid rgb(163, 99, 189);
}


.form-group{
    margin: auto;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.form-group p{
    margin: auto;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width : 500px;
    text-align: center;
}

.toptext{
    margin-bottom: 60px;
    height:150px;
}

#updatebtn{
    margin-left: 20px;
    height: 40px;
    font-size: 15px;
    width: 100px;
    color:rgb(163, 99, 189);
    border: 1px solid rgb(163, 99, 189);
    float:left;
    line-height: 25px;
}

#updatebtn:hover{
    background-color:rgb(163, 99, 189);
    color : white;
    border : 0px;
}

.btndiv{
    float: right;
}