@font-face {
    font-family: 'Handon3gyeopsal300g';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal300g.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Handon3gyeopsal300g';
}

#logoutBtn {
    color: white;
    background-color: #7460ee;
}

#submit-btn,
#reset-btn {
    width: 100px;
    background-color: #917EC6;
    border: #917EC6;
    display: inline-block;
}