@font-face {
    font-family: 'Handon3gyeopsal300g';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal300g.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Handon3gyeopsal300g';
}

#logoutBtn {
    color: white;
    background-color: #7460ee;
}

.container {
    position: relative;
    text-align: justify;
}

.search_list {
    color: black;
    text-decoration: none;
}

.edit {
    color: #917EC6;
}

.table-responsive {
    text-align: center;
}


#write-btn {
    color: white;
    background-color: #7460ee;
}


#write-href {
    color: white;
    text-decoration: none;
}
