/* 글꼴 적용 */
@font-face { font-family: 'Handon3gyeopsal600g'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal600g.woff') 
    format('woff'); 
    font-weight: normal; 
    font-style: normal; }

body{
    font-family: 'Handon3gyeopsal600g'; 
}

/* a태그 */
a{
    color: black;
}
a:hover{
    text-decoration: none;
}

/* 라인별 간격 */
.sidebar .row{
    padding: 5px 5px 5px 5px;
    margin-bottom: 20px;
}
/* sidebar 스타일 */
.sidebar{
    position:fixed;
    top:50%;
    right:-100%;
    transform:translateY(-50%);
    width:600px;
    height:100vh;
    min-height:100%;
    padding:40px;
    background:#fff;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
    box-sizing:border-box;
    transition:0.5s;
    z-index: 9999;
    overflow-x: hidden; /* 가로 스크롤 X */
    overflow-y: auto; /* 세로 스크롤 자동 */
}
.sidebar.active{
    right:0;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9998;
}
/* 끝 */

/* 신고모달창 */
#reviewReportModal{
	z-index: 10000;
}

.card{
    margin: 15px;
}

/* 메인화면 scroll 불가능 */
.scrollHidden{
    /* position: fixed; */
    height: 100%;
    min-height: 100%;
    overflow: hidden !important;
    touch-action: none;
}

/* popover 스타일 */
.content > p > a:hover {
    background-color: #ffe0b2;
}
.hover-content {
    padding: 10px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.2);
    box-sizing: border-box;
    background-color: #fff;
    width: 240px;
}
[data-hover-wrapper] {
    transition: opacity .3s, transform .3s;
}
.hover-content > img {
    max-width: 100%;
    margin-bottom: 10px;
}
.hover-content > p {
    font-size: 14px;
    margin: 0;
    line-height: 1.4;
}
.info {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #000;
    padding: 10px 20px;
    color: #fff;
    font-size: 13px;
}

/* 공연 영역 */
.showInfo{
    width: 100%;
}
.showInfo button{
    background-color: #917EC6; 
    color: white;
    width: 90%;
}

/* 공연장 영역 */
.theater>div{
    width: 50%;
    float: left;
}

/* 공연장 이미지 세로 정렬 */
.theaterImg{
	width: 100%;
	height: 150px;
    line-height: 70px;
}

/* 지도 영역 */
.theaterMap{
    width: 100%;
    height: 250px;
}

.nCont{
	margin: 0;
	margin: auto;
	width: 300px;
	height: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#seat-level{
	justify-content: center;
	align-items: center;
	clear: both;
}

#seat-level ul{
	display: inline-block;
	vertical-align: middle;
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

#seat-level ul li{
	float: left;
	display: inline-block;
}

.sLevel1{
	height: 12px;
	width: 11px;
	margin-top: 6px;
	background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat2.gif') no-repeat;
}
.sLevel2{
	height: 12px;
	width: 11px;
	margin-top: 6px;
	background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat3.gif') no-repeat;
}
.sLevel3{
	height: 12px;
	width: 11px;
	margin-top: 6px;
	background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat0.gif') no-repeat;
}
.sLevel4{
	height: 12px;
	width: 11px;
	margin-top: 6px;
	background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat5.gif') no-repeat;
}
.sLevel5{
	height: 12px;
	width: 11px;
	margin-top: 6px;
	background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat7.gif') no-repeat;
}

.s0 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat0.gif') no-repeat; height:12px;width:11px; z-index:10;}
.s1 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat1.gif') no-repeat; height:12px;width:11px; z-index:10;}
.s2 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat2.gif') no-repeat; height:12px;width:11px; z-index:10;}
.s3 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat3.gif') no-repeat; height:12px;width:11px; z-index:10;}
.s4 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat4.gif') no-repeat; height:12px;width:11px; z-index:10;}
.s5 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat5.gif') no-repeat; height:12px;width:11px; z-index:10;}
.s6 {position:absolute;background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat6.gif') no-repeat;height:12px;width:11px;z-index:10;}
.s7 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat7.gif') no-repeat; height:12px;width:11px; z-index:10;}
.s8 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat8.gif') no-repeat; height:12px;width:11px; z-index:10;}
.s9 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat9.gif') no-repeat; height:12px;width:11px; z-index:10;}
.s10 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat10.gif') no-repeat; height:12px;width:11px; z-index:10;}
.s11 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat11.gif') no-repeat; height:12px;width:11px; z-index:10;}
.s12 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat12.gif') no-repeat; height:12px;width:11px; z-index:10;}
.s13 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat13.gif') no-repeat; height:12px;width:11px; z-index:10;}
.s14 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat14.gif') no-repeat; height:12px;width:11px; z-index:10;}
.s15 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat15.gif') no-repeat; height:12px;width:11px; z-index:10;}
.s16 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat16.gif') no-repeat; height:12px;width:11px; z-index:10;}
.s17 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat17.gif') no-repeat; height:12px;width:11px; z-index:10;}
.s18 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat18.gif') no-repeat; height:12px;width:11px; z-index:10;}
.s19 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat19.gif') no-repeat; height:12px;width:11px; z-index:10;}
.s20 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat20.gif') no-repeat; height:12px;width:11px; z-index:10;}
.s21 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat21.gif') no-repeat; height:12px;width:11px; z-index:10;}
.s22 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat22.gif') no-repeat; height:12px;width:11px; z-index:10;}
.s23 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat23.gif') no-repeat; height:12px;width:11px; z-index:10;}
.s24 {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat24.gif') no-repeat; height:12px;width:11px; z-index:10;}
.son {position:absolute; background:url('http://tkfile.yes24.com/images/ticket_new/ic_seat_on.gif') no-repeat; height:12px;width:11px; z-index:10;}
